body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.mytheme{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.button01{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgba(255, 166, 0, 0.527), rgb(255, 123, 0));
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;   
}
.mid-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-box{
    box-shadow: 5px 5px 20px gray;
    border-radius: 5px;
    height: 80%;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
}
.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
} 
#stack-box{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(248, 191, 169), rgb(255, 38, 0));
    border-image-slice: 1;
}
#baby-box{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}